* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 마우스 드래그 스무스효과 */
  scroll-behavior: smooth;
}

body {
  min-width: 1200px;
  font-family: "Noto Sans KR", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  z-index: 10;
}

.logo {
  display: flex;
  gap: 10px;
  font-size: 32px;
  font-weight: 600;
  color: #0b96ce;
}

.logo-name {
  color: #000;
}

.menu {
  color: black;
  display: flex;
  gap: 60px;
  align-items: center;
}

.hero {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -27%) rotate(90deg);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 120px;
  transform: translateY(-50%);
  color: white;
  z-index: 2;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 20px;
}

.lang {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lang img {
  width: 18px;
}

.business {
  padding: 50px 20px;
  text-align: center;
  align-items: center;
}

.business h2 {
  justify-content: center;
  display: flex;
  color: #0b96ce;
  font-size: 30px;
  font-weight: 600;
  padding: 10px 0;
}
.business h2 p {
  color: red;
}

.business div {
  font-size: 20px;
  padding: 16px 0;
}
.business-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 1200px;
  margin: 0 auto;
}

.card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}
.card {
  width: 260px;
  text-align: center;
  background: rgb(255, 255, 255);
}

.card h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 8px;
}

.purpose {
  position: relative;
  text-align: center;
  z-index: 2;
}
.purpose h2 {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

  color: #0b96ce;
  font-size: 30px;
  font-weight: 600;
  padding: 10px 0;
}
.purpose h2 p {
  color: red;
}
.purpose div {
  font-size: 20px;
  padding: 8px 0;
}
.purpose section {
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 25%;
  top: 100%;
  z-index: 2;
  padding: 16px 0;
}
.building {
  position: absolute;
  top: -10%;
}
.purpose img {
  width: 1000px;
  position: absolute;
  z-index: 1;
  transform: translate(480px, 250px);
}

.service {
}

.service-title {
  justify-content: center;
}

.service-grid {
  display: flex;
  justify-content: center;
}

.service-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
