* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 마우스 드래그 스무스효과 */
  scroll-behavior: smooth;
}

body {
  min-width: 1200px;
  font-family: "Noto Sans KR", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  z-index: 10;
}

.logo {
  display: flex;
  gap: 10px;
  font-size: 32px;
  font-weight: 600;
  color: #0b96ce;
}

.logo-name {
  color: #000;
}

.menu {
  color: black;
  display: flex;
  gap: 60px;
  align-items: center;
}

.hero {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -27%) rotate(90deg);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 120px;
  transform: translateY(-50%);
  color: white;
  z-index: 2;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 20px;
}

.lang {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lang img {
  width: 18px;
}

.business {
  padding: 50px 20px;
  text-align: center;
  align-items: center;
}

.business h2 {
  justify-content: center;
  display: flex;
  color: #0b96ce;
  font-size: 30px;
  font-weight: 600;
  padding: 10px 0;
}
.business h2 p {
  color: red;
}

.business div {
  font-size: 20px;
  padding: 16px 0;
}
.business-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 1200px;
  margin: 0 auto;
}

.card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}
.card {
  width: 260px;
  text-align: center;
  background: rgb(255, 255, 255);
}

.card h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 8px;
}

.purpose {
  height: 900px;
  position: relative;
  text-align: center;
  z-index: 2;
}
.purpose h2 {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

  color: #0b96ce;
  font-size: 30px;
  font-weight: 600;
  padding: 10px 0;
}
.purpose h2 p {
  color: red;
}
.purpose div {
  font-size: 20px;
  padding: 8px 0;
}
.purpose section {
  font-size: 20px;
  font-weight: 300;

  left: 25%;
  top: 100%;
  z-index: 2;
  padding: 16px 0;
}
.building {
  position: absolute;
  top: -10%;
}
.purpose img {
  width: 1000px;
  position: absolute;
  transform: translate(430px, 300px);
}

.service {
  position: relative;
  padding: 120px 0;
  position: relative;
  text-align: center;
}

.service-title {
  color: #0b96ce;
}

.service h2 {
  font-size: 30px;
  padding: 30px;
}

.service-title span {
  color: red;
}
.service-subtitle {
  font-size: 20px;
  color: #000;
}

.bg {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.service-wrap {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 80px;
}

.service-card img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.service-card:nth-child(2) {
  transform: translateY(220px);
}
.service-card:nth-child(4) {
  transform: translateY(220px);
}

.esg {
  background-color: #ccc;
  padding: 120px 0;
  text-align: center;
  margin-top: 420px;
}
.esg-title h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.esg-title {
  color: #0b96ce;
  margin-bottom: 20px;
}
.esg-title span {
  color: red;
}

.esg-plan {
  font-weight: 300;
  font-size: 20px;
}

.esg-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
  margin: 30px auto;
  position: relative;
}

.esg-item h2 {
  margin: 20px;
}

.esg-item p {
  font-size: 16px;
  font-weight: 300;
}

.circle {
  width: 180px;
  height: 180px;
  border: 1px solid #000000;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.esg-item {
  padding: 50px;
}
/* 가로 선 점 */
.esg-line::after {
  content: "";
  width: 20px;
  height: 20px;
  background: #1f06ff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
}
/* 가로 선 */
.esg-line {
  top: -151px;
  width: 35%;
  height: 1px;
  background: #000000;
  margin: auto;
  position: relative;
}
/* 세로 선 */
.esg-item::after {
  content: "";
  width: 1px;
  height: 50px;
  background: #000000;
  display: block;
  margin: 20px auto 0;
}

.esg-item:nth-child(2)::after {
  height: 120px;
}

.esg-subplan {
  font-size: 20px;
  font-weight: 500;
}

.circle img {
  width: 80px;
}

/* 세미나와 행사 */

.seminar {
  background-size: cover;
  max-width: 1200px;

  margin: 20px auto;
  padding: 120px 20px;
}

.seminar h2 {
  text-align: center;
  color: #0b96ce;
  font-size: 30px;
}
.seminar span {
  color: red;
}

.seminar-sub {
  text-align: center;
  font-size: 20px;
  padding: 30px;
}

.seminar-item {
  padding-top: 60px;
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 80px;
}

.seminar-img img {
  width: 550px;
  height: 300px;
  object-fit: cover;
  border-radius: 120px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.seminar-text {
  max-width: 500px;
}

.seminar-text h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.reverse {
  flex-direction: row-reverse;
}
